#logo {
  display: block;
  position: relative;
  left: 15%;
  width: 15vw;
  min-width: 256px;
  height: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#logo a img {
    width: 100%;
    height: auto;
}


#subHeader {
  margin-left: 32px;
}
