
.s4 {
  width: 40%;
  position: relative;
  right: 15%;
}

.swan {
  position: relative;

}



#svaneLogo {
  position: absolute;
  top: 40px;
  left: 55%;
}


#svaneLogo img {
  max-width: 512px;
  width: 50vw;
  height: auto;
}
